body {
  font-family: Arial;
  font-size: 10px;
  color: #000000;
  width: 595px;
  margin: auto;
}
table {
  border: 0px;
  width: 100%;
  font-size: 10px;
  border-collapse: collapse;
}

td {
  padding: 2px 0px;
}

.header {
  margin-top: 0px;
  font-size: 10px;
  font-weight: bold;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}
.txt-left {
  text-align: left;
}
.txt-bold {
  font-weight: bold;
}
.p-l-30 {
  padding-left: 30px;
}
.p-l-20 {
  padding-left: 20px;
}
.p-l-50 {
  padding-left: 50px;
}
.m-0 {
  margin: 0px;
}
.hidden {
  display: none;
}
